<%- include head %>
  <body>
    <%- include nav %>
    <div class="container">
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="/question" role="button">Quest</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="panel panel-primary">
            <div class="panel-body">
              <!-- Table -->
              <% data.forEach(function(item, index){ %>
                <%- include('cell', {item: item}) %>

              <% }) %>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-warning">
            <div class="panel-body">
              <h4>01. React</h4>               
              <h4>Richard.wang</h4>

            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
  </html>
